<div class="table-wrapper">
    <table class="fl-table">
        <thead class="thead-dark">
            <th scope="col">Transaction Id</th>
            <th scope="col">Total Amount</th>
            <th scope="col">Transaction Type</th>
           
        </thead>
        <tbody *ngFor="let transaction of transactions" scope="row">
            <td>{{transaction.customerId}}</td>
            <td>{{transaction.dateTime}}</td>
            <td>{{transaction.productDetails}}</td>
            <td>{{transaction.totalAmount}}</td>
            <td>{{transaction.paymentType}}</td>
            
        </tbody>
    </table>
</div>