<br>
<div class="market-updates">
    <div class="col-md-4 market-update-gd" routerLink="/manage-employee">
      <div class="market-update-block clr-block-1">
        <div class="col-md-8 market-update-left">
          <h3>{{employeeCount}}</h3>
          <h2 class="text-white">Total Cashiers</h2>
          <h6 class="text-white">Approval Required : N/A</h6>
        </div>
        <div class="col-md-4 market-update-right">
          <i class="fa fa-user-md"></i>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="col-md-4 market-update-gd" routerLink="/manage-inventory">
      <div class="market-update-block clr-block-2">
        <div class="col-md-8 market-update-left">
          <h3>{{productCount}}</h3>
          <h2 class="text-white">Total Products</h2>
          <h6 class="text-white">To be added : N/A</h6>
        </div>
        <div class="col-md-4 market-update-right">
          <i class="fa fa-product-hunt"></i>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="col-md-4 market-update-gd">
      <div class="market-update-block clr-block-3">
        <div class="col-md-8 market-update-left">
          <h3>{{transactionCount}}</h3>
          <h2 class="text-white">Total bills</h2>
          <h6 class="text-white"> Pending : N/A</h6>
        </div>
        <div class="col-md-4 market-update-right">
          <i class="fa fa-newspaper-o"></i>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="clearfix"> </div>